.nav_wrapper {
  width: 500px;
  align-items: center;
  display: flex;
}

.nav_list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 15px;
    height: 30px;
  }
  .link {
    color: black;
    text-decoration: none;
  }
}
