.dawnstar_box_wrapper {
    height: 100%;
    width: 80%;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 20px;
    padding-bottom: 50px;
    
}
h1 {
text-align: center;
margin-top: 50px;
}

.herb{
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.photo{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border:4px solid black;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
h3 {
    text-align: center;
    padding-top: 0;
    }
