.auth_page_wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('../../assets/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
