.main_inform_wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
   
}
.h1_wrapper{
    text-align: center;
    margin-top: 10px;
}
p {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}
.text_wrapper{
    width: 100vh;
    height: 50vh;
    background-color:rgba(192, 192, 192, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 190px;
    border-radius: 20px;
    font-family: 'Kelly Slab';
      
}
@font-face{
    font-family: 'Kelly Slab', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Orbitron:wght@500&display=swap');   
}