.header_wrapper {
  height: 10vh;
  padding: 10px 30px;
  background-color: rgb(0, 0, 0);
  box-shadow: rgb(236, 235, 235);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  position: fixed;  
  top: 5px;  
  width: 95%;
  
}


