.footer_wrapper {
  height: 10vh;
  padding: 10px 30px;
  background-color: rgb(0, 0, 0);
  box-shadow: rgb(236, 235, 235);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.location {
  width: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
