.nav-buttons_wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

.link {
  color: black;
  text-decoration: none;
}
.button_wrapper{
  font-family: 'Kelly Slab', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Orbitron:wght@500&display=swap');
  border-radius: 5px;
  background-color: white;
  
  
}
