.auth_form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 150px;
  height: 300px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  margin: auto;
  border-radius: 15px;
}

.auth_form_input {
  width: 100%;
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
}
.auth_form_head {
  color: white;
  font-size: 20px;
  margin: 0;
  font-family: 'Kelly Slab', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Orbitron:wght@500&display=swap');
}

.auth_form_btn {
  width: 100px;
  height: 40px;
  background-color: whitesmoke;
  border-radius: 5px;
  font-family: 'Kelly Slab', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Orbitron:wght@500&display=swap');
}
